.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.expradio {
  margin-left: 20px;
}

.addtransaction {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 35px;
}

.textaddtran {
  border: none;
  height: 30px;
  outline: none;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  padding: 5px;
}

.btn {
  margin-top: 20px;
  background-color: #2c4d75;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
  width: 50%;
}
