.baldiv {
  margin-top: 15px;
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.baltitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
